.page-title {
    grid-area: header;
    justify-self: center;
}

.menu{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

#left-menu.menu{
    grid-area: left-menu;
}

#right-menu.menu{
    grid-area: right-menu;
}

#bottom-menu{
    grid-area: bottom-menu;
    justify-self: center;
}

.img-container {
    grid-area: picture;
    align-self: center;
}

img {
    width: 70%;
    display: block;
    justify-self: center;
}

.home-container {
    flex: 1;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "left-menu picture right-menu"
        ". bottom-menu .";
    width: 100%;
    padding: 35px 70px;
}

.home-button {
    background-color: white !important;
    padding: 4px !important;
    border: 3px var(--soil) dashed !important;
    border-radius: 4% !important;
    width: 70% !important;
    margin: 5px !important;
}

.home-button:hover {
    background-color: var(--soil) !important;
    border: 3px white dashed !important;
    border-radius: 4% !important;
}

.menu a {
    width: 57%;
    height: 45%;
    padding: 8px 16px;
    align-content: center;
    font-size: 3vw;
}