/*Page Header*/
.page-header{
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    position: relative;
}

.page-header.center {
  justify-content: center;
}

.page-header.space-evenly {
  justify-content: space-around;
}

.logo{
  background-image: url("/assets/logos/favicon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 5;
  border-radius: 100%;
  background-color: var(--soil);
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 1%;
}

/*Title*/
.title-background{
  padding: 10px 50px 10px 50px;
  flex-shrink: 2;
}

a, a:hover{
  border: none;
  background-color: transparent;
  text-decoration: none;
}

#titelHomeButton :hover{
  cursor:pointer;
}

/* navigation */
.hamburger-nav{
  flex-grow: 1;
  text-align: center;
}

/* nav menu*/
.nav-menu-item-vert{
  text-align: center;
  width: 100%;
}

.nav-menu-item-vert.divider {
  border-bottom: 3px var(--soil) dashed;
}

.nav-menu-item-horiz{
  width: 25% !important;
  text-align: center;
}

.nav-menu-item-horiz.divider {
  border-right: 3px var(--soil) dashed;
}

.nav-menu-item {
  padding: 5px;
}

.nav-menu-item a {
  text-decoration: none;
  color: var(--soil);
}

.nav-menu-item:hover {
  text-decoration: underline;
}

.expanded-nav-menu {
  border-radius: 0px;
  width: calc(100% - 6px); /* subtracting 3px border on left & right */
  align-self: center;
  position: absolute;
  bottom: 0;
  background-color: white;
}