@import url('https://fonts.googleapis.com/css2?family=Alice&family=Sacramento&display=swap');

body {
  /* min-height: 100%; */
  height: 100%;
  width: 100vw;
  font-family: "Alice", serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--soil);
  background-color: transparent;
}

/* Typography */
p {margin-bottom: 1rem;}

h1.title{
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  vertical-align: middle;
  margin: 0px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4{
  /*margin: 3rem 0 1.38rem;*/
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

large, h5 {font-size: 1.2rem; font-weight: 400; line-height: 1.3;}

small, .text_small {font-size: 0.833rem;}

a {
  padding: .05rem !important;
  margin: .05rem !important;
  border-radius: 3px;
  border: 2px dashed #22211F;
  display: inline;
  text-decoration: none;
  color: black;
}

a:hover, a.dark,
button:hover, button.dark {
  padding: .05rem !important;
  margin: .05rem !important;
  border-radius: 3px;
  border: 2px dashed white;
  display: inline;
  background-color: var(--soil);
}

a.strawberry-hover:hover,
button.strawberry-hover:hover {
  /* text-decoration: underline; */
  color: var(--strawberry);
}

a.sky-hover:hover,
button.sky-hover:hover{
  /* text-decoration: underline; */
  color: var(--sky);
}

a.inchworm-hover:hover,
button.inchworm-hover:hover{
  /* text-decoration: underline; */
  color: var(--inchworm);
}

/* theming */
:root{
  --strawberry: #E87B6F;
  --sky: #6FA4DC;
  --inchworm: #B2C480;
  --soil: #22211F;
  --pebble: #AD9885; /* #AE9279;   color: #d9d2cc */
  --white: #FFFFF;
}
.strawberry
{
  color: var(--strawberry);
}

.sky
{
  color: var(--sky);
}

.inchworm
{
  color: var(--inchworm)
}

.wetsoil
{
  color: var(--soil)
}

.pebble
{
  /* color: #d9d2cc */
  color: var(--pebble);
}

.white
{
  color: var(--white)
}

.leather-texture{
  background-color: var(--pebble);
  background-image: url("/assets/textures/white-leather.png");
}

.inset-border {
  background-color: var(--white)f;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.dashed-border{
  border: 3px var(--soil) dashed;
  background-color: transparent;
}

.drop-shadow{
  box-shadow: 0 4px 2px -2px gray;
}

.rounded-border-std{
  border-radius: 10px;
}

/* Components */
.button {
  background-color: white !important;
  padding: 4px !important;
  border: 3px var(--soil) dashed !important;
  border-radius: 10% !important;
  width: 70% !important;
  margin: 5px !important;
}

.button:hover {
  background-color: var(--soil) !important;
  border: 3px white dashed !important;
  border-radius: 10% !important;
  width: 70% !important;
  margin: 5px !important;
  padding: 4px !important;
}

/* Body */
/* .grid-paper{
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(122, 157, 217) .5px, transparent .5px),
    linear-gradient(to bottom, rgb(122, 157, 217) .5px, transparent .5px);
  background-color: white;
} */

/* layout */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex.col {
  display: flex;
  flex-direction: column;
}

.flex.row {
  display: flex;
  flex-direction: row;
}

/* .page-margins {
  height: 100%;
  padding: 2%;

  background: url("/assets/textures/white-leather.png") var(--pebble);
} */

/* Components */
.sticker {
  border: 20px solid white;
  /* border-radius: 100px; */
  /* width: 30%; */
  background-color: var(--soil);
  color: white;
  text-align: center;
}

.border-radius-50
{
  border-radius: 50px; 
}

.border-radius-100
{
  border-radius: 100px; 
}

.mascot-column {
  width:20%;
  align-items: center;
}

.mascot-column img {
  width: 100%;
  padding: 3px;
}